.benefits {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  text-align: center;
}

.benefits__header {
  width: 95%;
}

.benefits__title {
  color: var(--darkFontColor);
  font-size: clamp(2.5rem, 3vw, 4rem);
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 3rem;
}

.benefits__benefits-content {
  width: 95%;
}

.benefits-content__benefits-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.benefits-item__benefits-picutre {
  align-items: center;
  background-color: red;
  border-radius: 15px;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 2rem 0;
  width: 100px;
}

.benefits-picture__icon {
  width: 50%;
}

.benefits-item__benefits-picutre--blue {
  background: linear-gradient(90deg, #1782f5, #5bb1ff);
}

.benefits-item__benefits-picutre--orange {
  background: linear-gradient(90deg, #fdad5c, #fd8f5e);
}

.benefits-item__benefits-picutre--green {
  background: linear-gradient(90deg, #37ef8d, #1fd373);
}

.benefits-item__desc {
  color: var(--darkFontColor);
  font-size: clamp(2rem, 2vw, 2.5rem);
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0 5rem;
}
