/* download section */
/*  */
.download {
  align-items: center;
  background-color: var(--downloadBgc);
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  min-height: 200px;
}

.download__title {
  color: var(--brightFontColor);
  font-size: clamp(2.4rem, 3vw, 4rem);
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 3rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
  text-align: center;
}

.download__icons-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.download__icon {
  height: 70%;
}

/*  */
/* bottom nav section */
/*  */

.bottom-nav {
  align-items: center;
  background-color: var(--bottomNavBgc);
  color: var(--greyFontColor);
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  width: 100%;
}

.bottom-nav__top,
.bottom-nav__bottom-menu {
  width: 95%;
}

.bottom-nav__text {
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 2rem;
  padding-right: 4rem;
}
.bottom-nav__icons {
  display: flex;
  gap: 1em;
}

.icons__box {
  align-items: center;
  background-color: var(--socialBoxBgc);
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 3rem 0;
  width: 40px;
}

.icons__box {
  cursor: pointer;
}
.icons__box:hover .icons__social {
  transform: scale(1.1);
}

.icons__social {
  color: var(--brightFontColor);
  font-size: 2rem;
  transition: 0.2s ease-in;
}

.bottom-menu__title {
  color: var(--brightFontColor);
  font-size: clamp(2rem, 2vw, 3rem);
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.bottom-menu__list {
  margin-bottom: 3rem;
}

.bottom-menu__item {
  margin: 2rem 0;
}

.bottom-menu__link {
  color: var(--greyFontColor);
  font-size: clamp(1.5rem, 1vw, 2rem);
  text-decoration: none;
  transition: 0.1s linear;
}

.bottom-menu__link:hover {
  color: var(--brightFontColor);
}
/*  */
/* footer */
/*  */

.footer {
  align-items: center;
  background-color: var(--footerBgc);
  color: var(--greyFontColor);
  display: flex;
  height: 10vh;
  justify-content: center;
  min-height: 90px;
  text-align: center;
}

.footer__rights {
  font-size: clamp(1.3rem, 1vw, 1.5rem);
  font-weight: 400;
}

.rights__link {
  color: var(--rightsLink);
  margin-left: 0.5rem;
  text-align: center;
  text-decoration: none;
}
