.features {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  text-align: center;
}

.features__header {
  width: 95%;
}

.features__content {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.features__title {
  color: var(--darkFontColor);
  font-size: clamp(2.5rem, 3vw, 4rem);
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 3rem;
}

.features__text {
  color: var(--greyFontColor);
  font-size: clamp(1.4rem, 2vw, 2.5rem);
  font-weight: 300;
  line-height: 2.5rem;
  margin-top: 1rem;
  text-align: justify;
}

.features__btn {
  align-self: flex-start;
  background-color: var(--featuresBtn);
  border-radius: 5px;
  border: none;
  color: var(--brightFontColor);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 3.5rem 0 3rem 0;
  padding: 1.5rem 2.2rem;
  transition: 0.3s ease-in;
}

.features__btn:hover {
  background-color: var(--featuresBtnHover);
  cursor: pointer;
}

.features__draw-picture {
  width: 100%;
}

.draw-picture__img {
  width: 95%;
}
