.hero {
  align-items: center;
  background-image: url(./../../images/banner/banner.png);
  background-position: 50% -30px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.hero__text-content {
  color: var(--brightFontColor);
  margin-top: 3rem;
}

.hero__title {
  font-size: clamp(2.6rem, 4vw, 5rem);
  font-weight: 300;
  letter-spacing: 1px;
}

.hero__subtitle {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  font-weight: 300;
  margin-top: 1rem;
}

.hero__btn {
  background-color: var(--heroBtnColor);
  border-radius: 5px;
  border: none;
  color: var(--brightFontColor);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 3.5rem 0 8rem 0;
  padding: 1.5rem 2.2rem;
  transition: 0.3s ease-in;
}

.hero__btn:hover {
  background-color: var(--heroBtnColorHover);
  cursor: pointer;
}

.hero__phone {
  display: flex;
  justify-content: center;
}
.phone__img {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: move;
  width: 100%;
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
