.pricing {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 0;
  width: 100%;
}

.pricing__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.pricing__title {
  color: var(--darkFontColor);
  font-size: clamp(2.5rem, 3vw, 4rem);
  font-weight: 300;
  letter-spacing: 1px;
}

.pricing__subtitle {
  color: var(--greyFontColor);
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.pricing__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.pricing__options {
  align-items: center;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 2.5rem;
  max-width: 450px;
  min-height: 300px;
  width: 95%;
}

.options__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.options__header {
  align-content: center;
  display: grid;
  grid-template-areas: "option . price";
  grid-template-columns: 25% 50% 25%;
  height: 60px;
  width: 100%;
}

.options__header--blue {
  background-color: var(--priceHeaderBlue);
}

.options__header--orange {
  background-color: var(--priceHeaderOrange);
}

.options__header--green {
  background-color: var(--priceHeaderGreen);
}

.options__title {
  color: var(--darkFontColor);
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: 500;
  grid-area: option;
  padding-left: 30%;
}

.options__price {
  align-self: center;
  font-size: clamp(1.7rem, 2vw, 2rem);
  font-weight: 500;
  grid-area: price;
  justify-self: center;
}

.options__price--blue {
  color: var(--priceHeaderBlueFont);
}

.options__price--orange {
  color: var(--priceHeaderOrangeFont);
}

.options__price--green {
  color: var(--priceHeaderGreenFont);
}

.options__options-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.options__options-content {
  margin: 2rem 0;
}

.options-content__options-list {
  color: var(--pricingOptionsFontColor);
  font-size: clamp(1.4rem, 2vw, 2rem);
  height: 100%;
}

.options-list__item {
  margin: 1rem 0 3rem 0;
}

.options-content__btn {
  background-color: var(--mainBgc);
  border-radius: 5px;
  border: none;
  border: 1px solid var(--featuresBtn);
  color: var(--featuresBtn);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 1rem 3rem;
  transition: 0.1s ease-in;
}

.options-content__btn:hover {
  background-color: var(--featuresBtn);
  color: var(--mainBgc);
  cursor: pointer;
}
