.hero {
  background-position: 10% -30px;
  justify-content: center;
  min-height: 400px;
}

.hero__content {
  align-items: center;
  flex-direction: row;
  justify-content: center;
  max-width: 1500px;
  width: 100%;
}

.hero__text-content {
  margin-top: 0;
  width: 40%;
}

.hero__title {
  font-size: clamp(2.7rem, 3vw, 4rem);
  font-weight: 300;
}

.hero__subtitle {
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
}

.hero__phone {
  margin: 10rem 0 0 0;
  max-width: 500px;
  width: 40%;
}
