:root {
  --bottomNavBgc: #202020;
  --brightFontColor: #ffffff;
  --darkFontColor: #353535;
  --downloadBgc: #5db2ff;
  --featuresBtn: #1781f5;
  --featuresBtnHover: #3292f8;
  --footerBgc: #000000;
  --greyFontColor: #929292;
  --heroBtnColor: #38ebed;
  --heroBtnColorHover: #2edde0;
  --heroDownloadBtn: #1a92dd;
  --heroDownloadBtnHover: #0469a8;
  --mainBgc: #ffffff;
  --mobileMenuColor: #2c2c2c;
  --priceHeaderBlue: #e9f4fe;
  --priceHeaderBlueFont: #1a87f5;
  --priceHeaderGreen: #e8fcf1;
  --priceHeaderGreenFont: #41d778;
  --priceHeaderOrange: #fef4ee;
  --priceHeaderOrangeFont: #fdb26c;
  --pricingOptionsFontColor: #7c7c7c;
  --reviewImgLayer: rgba(97, 174, 255, 0.897);
  --rightsLink: #1781f5;
  --socialBoxBgc: #565656;
  --starsColor: #fed35a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

body {
  background-color: var(--mainBgc);
  min-height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}
